<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="ParallelMethodsTest">
        <groups>
            <run>
                <include name="smoke" />
                <exclude name="regression" />
            </run>
        </groups>
        <classes>
            <class name="Login" />
        </classes>
    </test>
</suite>